USE [FilmPlatform]
GO
/****** Object:  UserDefinedFunction [dbo].[icerik_ortalama_puan]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[icerik_ortalama_puan](@icerik_id INT)
RETURNS DECIMAL(3,1)
AS
BEGIN
    DECLARE @puan DECIMAL(3,1)
    SELECT @puan = AVG(puan) FROM yorumlar WHERE icerik_id = @icerik_id
    RETURN @puan
END
GO
/****** Object:  UserDefinedFunction [dbo].[isim]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*CREATE PROCEDURE EkleOdemeBilgisi
	@kullanici_id INT,
    @uyelik_plan_id INT,
    @odeme_tarihi DATETIME,
    @odeme_tutari DECIMAL(18,2)
AS
BEGIN
    INSERT INTO odemeBilgileri (kullanici_id, uyelik_plan_id, odeme_tarihi, odeme_tutari)
    VALUES (@kullanici_id, @uyelik_plan_id, @odeme_tarihi, @odeme_tutari)
END*/

/*CREATE PROCEDURE FavoriEkle
    @kullanici_id INT,
    @icerik_id INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM favoriler 
        WHERE kullanici_id = @kullanici_id AND icerik_id = @icerik_id
    )
    BEGIN
        INSERT INTO favoriler (kullanici_id, icerik_id, tarih)
        VALUES (@kullanici_id, @icerik_id, GETDATE());
    END
    ELSE
    BEGIN
        PRINT 'Bu içerik zaten favorilerde mevcut.';
    END
END*/

/*CREATE PROCEDURE GuncelleKullaniciBilgi
    @usr_id INT,
    @yeni_email NVARCHAR(100),
    @yeni_soyad NVARCHAR(50)
AS
BEGIN
    UPDATE kullanici
    SET email = @yeni_email,
        soyad = @yeni_soyad
    WHERE usr_id = @usr_id
END*/
/*
CREATE PROCEDURE SilYorum
    @yrm_id INT
AS
BEGIN
    DELETE FROM yorumlar
    WHERE yrm_id = @yrm_id
END*/


create function [dbo].[isim] (@ad varchar(10), @soyad varchar(10))
returns nvarchar(max)
as
begin return SUBSTRING(@ad,1,1) + '.' + UPPER(@soyad) 
end
GO
/****** Object:  UserDefinedFunction [dbo].[kullanici_toplam_odeme]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[kullanici_toplam_odeme](@kullanici_id INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @toplam DECIMAL(18,2)
    SELECT @toplam = SUM(odeme_tutari) 
    FROM odemeBilgileri 
    WHERE kullanici_id = @kullanici_id
    RETURN @toplam
END
GO
/****** Object:  UserDefinedFunction [dbo].[kullanici_yasi]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[kullanici_yasi](@kullanici_id int)
RETURNS INT
AS
BEGIN
    DECLARE @yas int
    DECLARE @dogum_tarihi DATE
	SELECT @dogum_tarihi = dogum_tarihi 
    FROM kullanici 
    WHERE usr_id = @kullanici_id

    SET @yas = DATEDIFF(YEAR, @dogum_tarihi, GETDATE())
    IF MONTH(@dogum_tarihi) > MONTH(GETDATE())
       OR (MONTH(@dogum_tarihi) = MONTH(GETDATE()) AND DAY(@dogum_tarihi) > DAY(GETDATE()))
    BEGIN
        SET @yas = @yas - 1
    END 
    RETURN @yas
END
GO
/****** Object:  UserDefinedFunction [dbo].[yenifiyat]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[yenifiyat] (@uye_id int)
returns decimal (18,3)
as
begin
declare @yenifiyat decimal (18,3)
declare @fiyat decimal (18,3)

select @fiyat = fiyat from uyelikPlanları where @uye_id = uye_id
set @yenifiyat = @fiyat * 1.5 

return @yenifiyat 
end
GO
/****** Object:  Table [dbo].[icerik]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[icerik](
	[icr_id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](max) NOT NULL,
	[yapim_yili] [int] NOT NULL,
	[sure] [int] NOT NULL,
	[puan] [decimal](3, 1) NOT NULL,
	[izlenme_sayisi] [int] NOT NULL,
	[yon_id] [int] NOT NULL,
 CONSTRAINT [PK_icerik] PRIMARY KEY CLUSTERED 
(
	[icr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turler]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turler](
	[tur_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_turler] PRIMARY KEY CLUSTERED 
(
	[tur_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ıcerıkTur]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ıcerıkTur](
	[ict_id] [int] IDENTITY(1,1) NOT NULL,
	[icerik_id] [int] NOT NULL,
	[tur_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ict_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Filmlerin_Turleri]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Filmlerin_Turleri] AS 
SELECT 
f.baslik AS film_Adi,
t.ad AS tur_Adi 
from ıcerıkTur 
JOIN icerik f
ON f.icr_id = ıcerıkTur.icerik_id
JOIN turler t
ON t.tur_id = ıcerıkTur.tur_id
GROUP BY t.ad, f.baslik
GO
/****** Object:  Table [dbo].[ıcerikBasrol]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ıcerikBasrol](
	[icb_id] [int] IDENTITY(1,1) NOT NULL,
	[icerik_id] [int] NOT NULL,
	[oyuncu_id] [int] NOT NULL,
	[rol_adi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__ıcerikBa__73D6F65DBFDD47E5] PRIMARY KEY CLUSTERED 
(
	[icb_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yonetmenler]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yonetmenler](
	[yon_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[dogum_tarihi] [date] NOT NULL,
 CONSTRAINT [PK_yonetmenler] PRIMARY KEY CLUSTERED 
(
	[yon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oyuncular]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oyuncular](
	[oyc_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[dogum_tarihi] [date] NOT NULL,
 CONSTRAINT [PK_oyuncular] PRIMARY KEY CLUSTERED 
(
	[oyc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Film_Detay]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Film_Detay] AS
select
f.baslik AS film_Adi,
y.ad AS yonetmen_adi, y.soyad as yonetmen_soyadi,
STRING_AGG (t.ad,', ') AS tur_Adi,
f.yapim_yili AS yil,
f.sure AS sure,
f.puan AS puan
from icerik f
JOIN ıcerıkTur  on f.icr_id = ıcerıkTur.icerik_id
JOIN turler t on t.tur_id = ıcerıkTur.tur_id
JOIN yonetmenler y on y.yon_id = f.yon_id
JOIN ıcerikBasrol on f.icr_id = ıcerikBasrol.icerik_id
JOIN oyuncular b on b.oyc_id = ıcerikBasrol.oyuncu_id 
GROUP BY  f.baslik,
  y.ad,
  y.soyad,
  f.yapim_yili,
  f.sure,
  f.puan;

--JOIN ıcerikBasrol on ıcerikBasrol.oyuncu_id = b.oyc_id















/*CREATE VIEW Filmlerin_Turleri AS 
SELECT 
f.baslik AS film_Adi,
t.ad AS tur_Adi 
from ıcerıkTur 
JOIN icerik f
ON f.icr_id = ıcerıkTur.icerik_id
JOIN turler t
ON t.tur_id = ıcerıkTur.tur_id
GROUP BY t.ad, f.baslik*/

/*select * from Filmlerin_Turleri*/

GO
/****** Object:  Table [dbo].[kullanici]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanici](
	[usr_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[dogum_tarihi] [date] NOT NULL,
	[kayit_tarihi] [date] NOT NULL,
	[durum] [bit] NOT NULL,
 CONSTRAINT [PK_kullanici] PRIMARY KEY CLUSTERED 
(
	[usr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yorumlar]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yorumlar](
	[yrm_id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_id] [int] NOT NULL,
	[icerik_id] [int] NOT NULL,
	[yorum_metni] [nvarchar](max) NOT NULL,
	[puan] [decimal](3, 1) NOT NULL,
	[tarih] [datetime] NOT NULL,
 CONSTRAINT [PK__yorumlar__AF6CB25026535B9F] PRIMARY KEY CLUSTERED 
(
	[yrm_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[kullanici_yorumlari]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*CREATE VIEW Film_Detay AS
select
f.baslik AS film_Adi,
y.ad AS yonetmen_adi, y.soyad as yonetmen_soyadi,
STRING_AGG (t.ad,', ') AS tur_Adi,
f.yapim_yili AS yil,
f.sure AS sure,
f.puan AS puan
from icerik f
JOIN ıcerıkTur  on f.icr_id = ıcerıkTur.icerik_id
JOIN turler t on t.tur_id = ıcerıkTur.tur_id
JOIN yonetmenler y on y.yon_id = f.yon_id
JOIN ıcerikBasrol on f.icr_id = ıcerikBasrol.icerik_id
JOIN oyuncular b on b.oyc_id = ıcerikBasrol.oyuncu_id 
GROUP BY  f.baslik,
  y.ad,
  y.soyad,
  f.yapim_yili,
  f.sure,
  f.puan;*/
/*CREATE VIEW Filmlerin_Turleri AS 
SELECT 
f.baslik AS film_Adi,
t.ad AS tur_Adi 
from ıcerıkTur 
JOIN icerik f
ON f.icr_id = ıcerıkTur.icerik_id
JOIN turler t
ON t.tur_id = ıcerıkTur.tur_id
GROUP BY t.ad, f.baslik*/

/*select * from Filmlerin_Turleri*/

CREATE VIEW [dbo].[kullanici_yorumlari] AS
select 
k.ad as kullanici_ad,
k.soyad as kullanici_soyad,
y.yorum_metni 
from kullanici k
JOIN yorumlar y on y.kullanici_id = k.usr_id
GROUP BY
k.ad,k.soyad, y.yorum_metni
GO
/****** Object:  Table [dbo].[uyelikPlanları]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uyelikPlanları](
	[uye_id] [int] IDENTITY(1,1) NOT NULL,
	[plan_adi] [nvarchar](50) NOT NULL,
	[fiyat] [decimal](18, 2) NOT NULL,
	[aciklama] [text] NOT NULL,
	[max_kullanici] [int] NOT NULL,
 CONSTRAINT [PK_uyelikPlanları] PRIMARY KEY CLUSTERED 
(
	[uye_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odemeBilgileri]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odemeBilgileri](
	[odm_id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_id] [int] NOT NULL,
	[uyelik_plan_id] [int] NOT NULL,
	[odeme_tarihi] [datetime] NOT NULL,
	[odeme_tutari] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[odm_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[kullanici_odeme_bilgileri]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[kullanici_odeme_bilgileri] as
SELECT 
    k.ad AS kullanici_ad,
    k.soyad AS kullanici_soyad,
    k.email,
    u.plan_adi,
    u.fiyat,
    u.aciklama
FROM kullanici k
JOIN odemeBilgileri o ON k.usr_id = o.kullanici_id
JOIN uyelikplanları u ON o.uyelik_plan_id = u.uye_id
GO
/****** Object:  Table [dbo].[favoriler]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favoriler](
	[fav_id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_id] [int] NOT NULL,
	[icerik_id] [int] NOT NULL,
	[tarih] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fav_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[kullanici_favori_filmleri]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[kullanici_favori_filmleri] as
SELECT
k.ad as kullanici_ad,
k.soyad as kullanici_soyad,
i.baslik as favori_film
from favoriler f
JOIN kullanici k on k.usr_id = f.kullanici_id
JOIN icerik i on i.icr_id = f.icerik_id
GROUP BY
k.ad,k.soyad,i.baslik   
GO
/****** Object:  View [dbo].[oyuncu_filmleri]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[oyuncu_filmleri] as
SELECT
i.baslik as film_baslik,
o.ad as oyuncu_ad,
o.soyad as oyuncu_soyad
from icerik i
JOIN ıcerikBasrol ib on i.icr_id = ib.icerik_id
JOIN oyuncular o on ib.oyuncu_id = o.oyc_id
GROUP BY
i.baslik,o.ad,o.soyad
GO
/****** Object:  UserDefinedFunction [dbo].[puan_favorifilm]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[puan_favorifilm](@min_puan decimal(3,1))
RETURNS TABLE
AS
RETURN (
SELECT 
i.baslik as film_baslik,
i.puan as film_puan
from icerik i
where i.puan >= @min_puan
)





GO
/****** Object:  UserDefinedFunction [dbo].[film_basrolu]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[film_basrolu] (@film_id int)
RETURNS TABLE
AS
RETURN (
SELECT
i.baslik as film_baslik,
o.ad as oyuncu_ad,
o.soyad as oyuncu_soyad
from ıcerikBasrol ib
JOIN icerik i on i.icr_id = ib.icerik_id
JOIN oyuncular o on ib.oyuncu_id = o.oyc_id
WHERE ib.icerik_id = @film_id)







GO
/****** Object:  UserDefinedFunction [dbo].[kullanicifav]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[kullanicifav] (@kullanici_id int)
returns table 
as
return(
select baslik , ad from favoriler join kullanici on kullanici.usr_id = favoriler.kullanici_id 
join icerik on icerik.icr_id = favoriler.icerik_id where usr_id = @kullanici_id)

GO
/****** Object:  Table [dbo].[favori_log]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favori_log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_id] [int] NOT NULL,
	[icerik_id] [int] NOT NULL,
	[ekleme_tarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_favori_log] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ıcerikPlatform]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ıcerikPlatform](
	[icp_id] [int] IDENTITY(1,1) NOT NULL,
	[icerik_id] [int] NOT NULL,
	[platform_id] [int] NOT NULL,
	[ekleme_tarihi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[icp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[platformlar]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[platformlar](
	[plt_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[website] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_platformlar] PRIMARY KEY CLUSTERED 
(
	[plt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[favori_log] ON 

INSERT [dbo].[favori_log] ([log_id], [kullanici_id], [icerik_id], [ekleme_tarihi]) VALUES (1, 4, 12, CAST(N'2022-09-14T08:30:59.000' AS DateTime))
INSERT [dbo].[favori_log] ([log_id], [kullanici_id], [icerik_id], [ekleme_tarihi]) VALUES (2, 2, 7, CAST(N'2023-02-10T10:12:45.000' AS DateTime))
INSERT [dbo].[favori_log] ([log_id], [kullanici_id], [icerik_id], [ekleme_tarihi]) VALUES (3, 9, 1, CAST(N'2021-04-21T09:12:45.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[favori_log] OFF
GO
SET IDENTITY_INSERT [dbo].[favoriler] ON 

INSERT [dbo].[favoriler] ([fav_id], [kullanici_id], [icerik_id], [tarih]) VALUES (1, 4, 12, CAST(N'2022-09-14T08:30:59.000' AS DateTime))
INSERT [dbo].[favoriler] ([fav_id], [kullanici_id], [icerik_id], [tarih]) VALUES (2, 2, 7, CAST(N'2023-02-10T10:12:45.000' AS DateTime))
INSERT [dbo].[favoriler] ([fav_id], [kullanici_id], [icerik_id], [tarih]) VALUES (3, 9, 1, CAST(N'2021-04-21T09:12:45.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[favoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[ıcerıkTur] ON 

INSERT [dbo].[ıcerıkTur] ([ict_id], [icerik_id], [tur_id]) VALUES (1, 1, 7)
INSERT [dbo].[ıcerıkTur] ([ict_id], [icerik_id], [tur_id]) VALUES (2, 1, 9)
INSERT [dbo].[ıcerıkTur] ([ict_id], [icerik_id], [tur_id]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[ıcerıkTur] OFF
GO
SET IDENTITY_INSERT [dbo].[ıcerikBasrol] ON 

INSERT [dbo].[ıcerikBasrol] ([icb_id], [icerik_id], [oyuncu_id], [rol_adi]) VALUES (1, 1, 8, N'Detective David Mills')
INSERT [dbo].[ıcerikBasrol] ([icb_id], [icerik_id], [oyuncu_id], [rol_adi]) VALUES (2, 2, 6, N'Cobb')
INSERT [dbo].[ıcerikBasrol] ([icb_id], [icerik_id], [oyuncu_id], [rol_adi]) VALUES (3, 3, 7, N'Sinan')
SET IDENTITY_INSERT [dbo].[ıcerikBasrol] OFF
GO
SET IDENTITY_INSERT [dbo].[ıcerikPlatform] ON 

INSERT [dbo].[ıcerikPlatform] ([icp_id], [icerik_id], [platform_id], [ekleme_tarihi]) VALUES (1, 1, 1, CAST(N'2024-12-15' AS Date))
INSERT [dbo].[ıcerikPlatform] ([icp_id], [icerik_id], [platform_id], [ekleme_tarihi]) VALUES (2, 1, 3, CAST(N'2025-03-22' AS Date))
INSERT [dbo].[ıcerikPlatform] ([icp_id], [icerik_id], [platform_id], [ekleme_tarihi]) VALUES (3, 2, 2, CAST(N'2025-01-05' AS Date))
SET IDENTITY_INSERT [dbo].[ıcerikPlatform] OFF
GO
SET IDENTITY_INSERT [dbo].[icerik] ON 

INSERT [dbo].[icerik] ([icr_id], [baslik], [yapim_yili], [sure], [puan], [izlenme_sayisi], [yon_id]) VALUES (1, N'Se7en', 1995, 127, CAST(8.6 AS Decimal(3, 1)), 300000000, 12)
INSERT [dbo].[icerik] ([icr_id], [baslik], [yapim_yili], [sure], [puan], [izlenme_sayisi], [yon_id]) VALUES (2, N'Inception', 2010, 148, CAST(8.8 AS Decimal(3, 1)), 350000000, 2)
INSERT [dbo].[icerik] ([icr_id], [baslik], [yapim_yili], [sure], [puan], [izlenme_sayisi], [yon_id]) VALUES (3, N'Ahlat Ağacı', 2018, 188, CAST(7.7 AS Decimal(3, 1)), 4000000, 13)
SET IDENTITY_INSERT [dbo].[icerik] OFF
GO
SET IDENTITY_INSERT [dbo].[kullanici] ON 

INSERT [dbo].[kullanici] ([usr_id], [ad], [soyad], [email], [dogum_tarihi], [kayit_tarihi], [durum]) VALUES (1, N'Ayşe', N'Yıldız', N'ayse.yildiz@gmail.com', CAST(N'1995-04-23' AS Date), CAST(N'2018-11-12' AS Date), 1)
INSERT [dbo].[kullanici] ([usr_id], [ad], [soyad], [email], [dogum_tarihi], [kayit_tarihi], [durum]) VALUES (2, N'Mehmet', N'aaa', N'ssssss', CAST(N'1990-09-15' AS Date), CAST(N'2019-01-03' AS Date), 1)
INSERT [dbo].[kullanici] ([usr_id], [ad], [soyad], [email], [dogum_tarihi], [kayit_tarihi], [durum]) VALUES (3, N'Elif', N'Demir', N'zaa', CAST(N'1998-07-08' AS Date), CAST(N'2018-07-19' AS Date), 0)
SET IDENTITY_INSERT [dbo].[kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[odemeBilgileri] ON 

INSERT [dbo].[odemeBilgileri] ([odm_id], [kullanici_id], [uyelik_plan_id], [odeme_tarihi], [odeme_tutari]) VALUES (1, 1, 1, CAST(N'2025-05-09T14:32:00.000' AS DateTime), CAST(55.00 AS Decimal(18, 2)))
INSERT [dbo].[odemeBilgileri] ([odm_id], [kullanici_id], [uyelik_plan_id], [odeme_tarihi], [odeme_tutari]) VALUES (2, 2, 3, CAST(N'2025-05-08T16:25:00.000' AS DateTime), CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[odemeBilgileri] ([odm_id], [kullanici_id], [uyelik_plan_id], [odeme_tarihi], [odeme_tutari]) VALUES (3, 3, 2, CAST(N'2025-05-07T12:12:00.000' AS DateTime), CAST(75.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[odemeBilgileri] OFF
GO
SET IDENTITY_INSERT [dbo].[oyuncular] ON 

INSERT [dbo].[oyuncular] ([oyc_id], [ad], [soyad], [dogum_tarihi]) VALUES (1, N'Edward', N'Norton', CAST(N'1969-08-18' AS Date))
INSERT [dbo].[oyuncular] ([oyc_id], [ad], [soyad], [dogum_tarihi]) VALUES (2, N'Fikret', N'Kuşkan', CAST(N'1965-04-22' AS Date))
INSERT [dbo].[oyuncular] ([oyc_id], [ad], [soyad], [dogum_tarihi]) VALUES (3, N'Rosamund', N'Pike', CAST(N'1979-01-27' AS Date))
SET IDENTITY_INSERT [dbo].[oyuncular] OFF
GO
SET IDENTITY_INSERT [dbo].[platformlar] ON 

INSERT [dbo].[platformlar] ([plt_id], [ad], [website]) VALUES (1, N'MAX', N'www.max.com')
INSERT [dbo].[platformlar] ([plt_id], [ad], [website]) VALUES (2, N'Netflix', N'www.netflix.com')
INSERT [dbo].[platformlar] ([plt_id], [ad], [website]) VALUES (3, N'Prime Video', N'www.primevideo.com')
SET IDENTITY_INSERT [dbo].[platformlar] OFF
GO
SET IDENTITY_INSERT [dbo].[turler] ON 

INSERT [dbo].[turler] ([tur_id], [ad]) VALUES (1, N'aksiyon')
INSERT [dbo].[turler] ([tur_id], [ad]) VALUES (2, N'macera')
INSERT [dbo].[turler] ([tur_id], [ad]) VALUES (3, N'komedi')
SET IDENTITY_INSERT [dbo].[turler] OFF
GO
SET IDENTITY_INSERT [dbo].[uyelikPlanları] ON 

INSERT [dbo].[uyelikPlanları] ([uye_id], [plan_adi], [fiyat], [aciklama], [max_kullanici]) VALUES (1, N'basit', CAST(55.00 AS Decimal(18, 2)), N'temel paket, reklamlı, tek cihaz', 1)
INSERT [dbo].[uyelikPlanları] ([uye_id], [plan_adi], [fiyat], [aciklama], [max_kullanici]) VALUES (2, N'standart', CAST(75.00 AS Decimal(18, 2)), N'standart paket, reklamsız, 2 cihaz', 2)
INSERT [dbo].[uyelikPlanları] ([uye_id], [plan_adi], [fiyat], [aciklama], [max_kullanici]) VALUES (3, N'premium', CAST(100.00 AS Decimal(18, 2)), N'premium paket, reklamsız , 5 cihaz', 5)
SET IDENTITY_INSERT [dbo].[uyelikPlanları] OFF
GO
SET IDENTITY_INSERT [dbo].[yonetmenler] ON 

INSERT [dbo].[yonetmenler] ([yon_id], [ad], [soyad], [dogum_tarihi]) VALUES (1, N'Francis Ford', N'Coppola', CAST(N'1939-04-07' AS Date))
INSERT [dbo].[yonetmenler] ([yon_id], [ad], [soyad], [dogum_tarihi]) VALUES (2, N'Cristopher', N'Nolan', CAST(N'1970-07-30' AS Date))
INSERT [dbo].[yonetmenler] ([yon_id], [ad], [soyad], [dogum_tarihi]) VALUES (3, N'Quentin', N'Tarantino', CAST(N'1963-03-27' AS Date))
SET IDENTITY_INSERT [dbo].[yonetmenler] OFF
GO
SET IDENTITY_INSERT [dbo].[yorumlar] ON 

INSERT [dbo].[yorumlar] ([yrm_id], [kullanici_id], [icerik_id], [yorum_metni], [puan], [tarih]) VALUES (1, 6, 1, N'Harika bir film, başından sonuna kadar sürükleyici.', CAST(8.5 AS Decimal(3, 1)), CAST(N'2025-05-09T10:00:00.000' AS DateTime))
INSERT [dbo].[yorumlar] ([yrm_id], [kullanici_id], [icerik_id], [yorum_metni], [puan], [tarih]) VALUES (2, 9, 2, N'Görsel efektler mükemmel, hikaye de çok ilginçti.', CAST(9.0 AS Decimal(3, 1)), CAST(N'2025-05-08T11:30:00.000' AS DateTime))
INSERT [dbo].[yorumlar] ([yrm_id], [kullanici_id], [icerik_id], [yorum_metni], [puan], [tarih]) VALUES (3, 2, 3, N'Film çok ağır ilerliyor, ama bir o kadar da düşündürücü.', CAST(7.0 AS Decimal(3, 1)), CAST(N'2025-05-07T13:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[yorumlar] OFF
GO
/****** Object:  Index [UQ_favoriler]    Script Date: 6.03.2026 19:10:40 ******/
ALTER TABLE [dbo].[favoriler] ADD  CONSTRAINT [UQ_favoriler] UNIQUE NONCLUSTERED 
(
	[fav_id] ASC,
	[kullanici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ıcrerıkTur]    Script Date: 6.03.2026 19:10:40 ******/
ALTER TABLE [dbo].[ıcerıkTur] ADD  CONSTRAINT [UQ_ıcrerıkTur] UNIQUE NONCLUSTERED 
(
	[icerik_id] ASC,
	[tur_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_IcerikBasrol]    Script Date: 6.03.2026 19:10:40 ******/
ALTER TABLE [dbo].[ıcerikBasrol] ADD  CONSTRAINT [UQ_IcerikBasrol] UNIQUE NONCLUSTERED 
(
	[icerik_id] ASC,
	[oyuncu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ıcerıkPlatform]    Script Date: 6.03.2026 19:10:40 ******/
ALTER TABLE [dbo].[ıcerikPlatform] ADD  CONSTRAINT [UQ_ıcerıkPlatform] UNIQUE NONCLUSTERED 
(
	[icerik_id] ASC,
	[platform_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[favoriler]  WITH CHECK ADD  CONSTRAINT [FK__favoriler__iceri__59FA5E80] FOREIGN KEY([icerik_id])
REFERENCES [dbo].[icerik] ([icr_id])
GO
ALTER TABLE [dbo].[favoriler] CHECK CONSTRAINT [FK__favoriler__iceri__59FA5E80]
GO
ALTER TABLE [dbo].[favoriler]  WITH CHECK ADD  CONSTRAINT [FK__favoriler__kulla__5AEE82B9] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[kullanici] ([usr_id])
GO
ALTER TABLE [dbo].[favoriler] CHECK CONSTRAINT [FK__favoriler__kulla__5AEE82B9]
GO
ALTER TABLE [dbo].[ıcerıkTur]  WITH CHECK ADD  CONSTRAINT [FK__ıcerıkTur__iceri__6477ECF3] FOREIGN KEY([icerik_id])
REFERENCES [dbo].[icerik] ([icr_id])
GO
ALTER TABLE [dbo].[ıcerıkTur] CHECK CONSTRAINT [FK__ıcerıkTur__iceri__6477ECF3]
GO
ALTER TABLE [dbo].[ıcerıkTur]  WITH CHECK ADD FOREIGN KEY([tur_id])
REFERENCES [dbo].[turler] ([tur_id])
GO
ALTER TABLE [dbo].[ıcerikBasrol]  WITH CHECK ADD  CONSTRAINT [FK__ıcerikBas__iceri__6E01572D] FOREIGN KEY([icerik_id])
REFERENCES [dbo].[icerik] ([icr_id])
GO
ALTER TABLE [dbo].[ıcerikBasrol] CHECK CONSTRAINT [FK__ıcerikBas__iceri__6E01572D]
GO
ALTER TABLE [dbo].[ıcerikBasrol]  WITH CHECK ADD  CONSTRAINT [FK__ıcerikBas__oyunc__6EF57B66] FOREIGN KEY([oyuncu_id])
REFERENCES [dbo].[oyuncular] ([oyc_id])
GO
ALTER TABLE [dbo].[ıcerikBasrol] CHECK CONSTRAINT [FK__ıcerikBas__oyunc__6EF57B66]
GO
ALTER TABLE [dbo].[ıcerikPlatform]  WITH CHECK ADD  CONSTRAINT [FK__ıcerikPla__iceri__693CA210] FOREIGN KEY([icerik_id])
REFERENCES [dbo].[icerik] ([icr_id])
GO
ALTER TABLE [dbo].[ıcerikPlatform] CHECK CONSTRAINT [FK__ıcerikPla__iceri__693CA210]
GO
ALTER TABLE [dbo].[ıcerikPlatform]  WITH CHECK ADD FOREIGN KEY([platform_id])
REFERENCES [dbo].[platformlar] ([plt_id])
GO
ALTER TABLE [dbo].[icerik]  WITH CHECK ADD  CONSTRAINT [FK_icerik_yonetmenler] FOREIGN KEY([yon_id])
REFERENCES [dbo].[yonetmenler] ([yon_id])
GO
ALTER TABLE [dbo].[icerik] CHECK CONSTRAINT [FK_icerik_yonetmenler]
GO
ALTER TABLE [dbo].[odemeBilgileri]  WITH CHECK ADD  CONSTRAINT [FK__odemeBilg__kulla__5EBF139D] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[kullanici] ([usr_id])
GO
ALTER TABLE [dbo].[odemeBilgileri] CHECK CONSTRAINT [FK__odemeBilg__kulla__5EBF139D]
GO
ALTER TABLE [dbo].[odemeBilgileri]  WITH CHECK ADD FOREIGN KEY([uyelik_plan_id])
REFERENCES [dbo].[uyelikPlanları] ([uye_id])
GO
ALTER TABLE [dbo].[yorumlar]  WITH CHECK ADD  CONSTRAINT [FK__yorumlar__icerik] FOREIGN KEY([icerik_id])
REFERENCES [dbo].[icerik] ([icr_id])
GO
ALTER TABLE [dbo].[yorumlar] CHECK CONSTRAINT [FK__yorumlar__icerik]
GO
ALTER TABLE [dbo].[yorumlar]  WITH CHECK ADD  CONSTRAINT [FK__yorumlar__kullanici] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[kullanici] ([usr_id])
GO
ALTER TABLE [dbo].[yorumlar] CHECK CONSTRAINT [FK__yorumlar__kullanici]
GO
/****** Object:  StoredProcedure [dbo].[EkleOdemeBilgisi]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EkleOdemeBilgisi]
    @kullanici_id INT,
    @uyelik_plan_id INT,
    @odeme_tarihi DATETIME,
    @odeme_tutari DECIMAL(18,2)
AS
BEGIN
    INSERT INTO odemeBilgileri (kullanici_id, uyelik_plan_id, odeme_tarihi, odeme_tutari)
    VALUES (@kullanici_id, @uyelik_plan_id, @odeme_tarihi, @odeme_tutari)
END
GO
/****** Object:  StoredProcedure [dbo].[ekleyorum]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ekleyorum] 
@kullanici_id int,
@icerik_id int,
@yorum_metni nvarchar(max),
@puan decimal(18,3),
@tarih datetime
as
begin
insert into yorumlar (kullanici_id, icerik_id, yorum_metni, puan, tarih)
values (@kullanici_id, @icerik_id, @yorum_metni, @puan, @tarih)
end
GO
/****** Object:  StoredProcedure [dbo].[FavoriEkle]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FavoriEkle]
    @kullanici_id INT,
    @icerik_id INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM favoriler 
        WHERE kullanici_id = @kullanici_id AND icerik_id = @icerik_id
    )
    BEGIN
        INSERT INTO favoriler (kullanici_id, icerik_id, tarih)
        VALUES (@kullanici_id, @icerik_id, GETDATE());
    END
    ELSE
    BEGIN
        PRINT 'Bu içerik zaten favorilerde mevcut.';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[GuncelleKullaniciBilgi]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuncelleKullaniciBilgi]
    @usr_id INT,
    @yeni_email NVARCHAR(100),
    @yeni_soyad NVARCHAR(50)
AS
BEGIN
    UPDATE kullanici
    SET email = @yeni_email,
        soyad = @yeni_soyad
    WHERE usr_id = @usr_id
END
GO
/****** Object:  StoredProcedure [dbo].[icerikgetir]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*CREATE PROCEDURE EkleOdemeBilgisi
	@kullanici_id INT,
    @uyelik_plan_id INT,
    @odeme_tarihi DATETIME,
    @odeme_tutari DECIMAL(18,2)
AS
BEGIN
    INSERT INTO odemeBilgileri (kullanici_id, uyelik_plan_id, odeme_tarihi, odeme_tutari)
    VALUES (@kullanici_id, @uyelik_plan_id, @odeme_tarihi, @odeme_tutari)
END*/

/*CREATE PROCEDURE FavoriEkle
    @kullanici_id INT,
    @icerik_id INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM favoriler 
        WHERE kullanici_id = @kullanici_id AND icerik_id = @icerik_id
    )
    BEGIN
        INSERT INTO favoriler (kullanici_id, icerik_id, tarih)
        VALUES (@kullanici_id, @icerik_id, GETDATE());
    END
    ELSE
    BEGIN
        PRINT 'Bu içerik zaten favorilerde mevcut.';
    END
END*/

/*CREATE PROCEDURE GuncelleKullaniciBilgi
    @usr_id INT,
    @yeni_email NVARCHAR(100),
    @yeni_soyad NVARCHAR(50)
AS
BEGIN
    UPDATE kullanici
    SET email = @yeni_email,
        soyad = @yeni_soyad
    WHERE usr_id = @usr_id
END*/
/*
CREATE PROCEDURE SilYorum
    @yrm_id INT
AS
BEGIN
    DELETE FROM yorumlar
    WHERE yrm_id = @yrm_id
END*/


create procedure [dbo].[icerikgetir] (@yonetmen int )
as 
select * from icerik where yon_id = @yonetmen

GO
/****** Object:  StoredProcedure [dbo].[platfromgetir]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*CREATE PROCEDURE EkleOdemeBilgisi
	@kullanici_id INT,
    @uyelik_plan_id INT,
    @odeme_tarihi DATETIME,
    @odeme_tutari DECIMAL(18,2)
AS
BEGIN
    INSERT INTO odemeBilgileri (kullanici_id, uyelik_plan_id, odeme_tarihi, odeme_tutari)
    VALUES (@kullanici_id, @uyelik_plan_id, @odeme_tarihi, @odeme_tutari)
END*/

/*CREATE PROCEDURE FavoriEkle
    @kullanici_id INT,
    @icerik_id INT
AS
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM favoriler 
        WHERE kullanici_id = @kullanici_id AND icerik_id = @icerik_id
    )
    BEGIN
        INSERT INTO favoriler (kullanici_id, icerik_id, tarih)
        VALUES (@kullanici_id, @icerik_id, GETDATE());
    END
    ELSE
    BEGIN
        PRINT 'Bu içerik zaten favorilerde mevcut.';
    END
END*/

/*CREATE PROCEDURE GuncelleKullaniciBilgi
    @usr_id INT,
    @yeni_email NVARCHAR(100),
    @yeni_soyad NVARCHAR(50)
AS
BEGIN
    UPDATE kullanici
    SET email = @yeni_email,
        soyad = @yeni_soyad
    WHERE usr_id = @usr_id
END*/
/*
CREATE PROCEDURE SilYorum
    @yrm_id INT
AS
BEGIN
    DELETE FROM yorumlar
    WHERE yrm_id = @yrm_id
END*/

create procedure [dbo].[platfromgetir] (@ad nvarchar(max))
as 
select ad from platformlar where ad = @ad
GO
/****** Object:  StoredProcedure [dbo].[SilYorum]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SilYorum]
    @yrm_id INT
AS
BEGIN
    DELETE FROM yorumlar
    WHERE yrm_id = @yrm_id
END
GO
/****** Object:  StoredProcedure [dbo].[yorumsil]    Script Date: 6.03.2026 19:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TRIGGER aaaaaaaa
--on turler
--after insert
--as
--begin
--print ('tür eklendi')
--end

--create trigger hmmm
--on turler
--after delete
--as
--begin
--print ('tür silindi')
--end

--create trigger guncelle
--on kullanici 
--after update
--as
--begin
--print 'güncellendi'
--end

create procedure [dbo].[yorumsil] (@id int)
as
delete from yorumlar where yrm_id = @id 
GO
